<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Content</h2>
        <p>filler text filler text filler text filler text</p>
        <p>filler text filler text filler text filler text</p>
        <p>filler text filler text filler text filler text</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>